<!-- Merge conect with layout.html -->
{% extends "layout2.html" %}
<!-- Start Content-->
{% block content %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passing Parms Test</title>
</head>


<table>
    <tr>
      <td>
		<div>
          <table>           <!-- This table for testing of passing parms  -->
				<tr>
					<td><span> {{ order_by }} is this address  </span> </td>
				</tr>

			</table>
             <table>
                    <th><<a href = "{{url_for('scroll')}}?order_by=address"> Address</a>
                    <th><a href = "{{url_for('scroll')}}?order_by=realor"> Realtor</a>
                    <th><a href = "{{url_for('scroll')}}?order_by=style"> Style</a>
                    <th><a href = "{{url_for('scroll')}}?order_by=price"> Price</a>
             </table>
 		</div>
      </td>
     </tr>
   </table>





<!-- UNREM # End here with body tag -->
{% endblock %}
<!-- <p><a href="{{ url_for('.add_user_view') }}"> Add User </a></p> -->

</body>
</html>>